:root {
    font-size: 70%;
}

div.weather__temp {
    flex-flow: column;

}

div.weather__temp>div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1.5rem;
}

div.weather__temp>div>p {
    flex-basis: 7rem;
}

div.weather__temp>div>p:nth-child(3) {
    flex-basis: 4rem;
}

div.weather__temp>div>p:nth-child(4) {
    flex-basis: 4rem;
}
